/* Container geral */
.home-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #f0bfa5; /* Igual à cor da imagem */
  overflow: hidden;
}

/* ---- SIDEBAR ---- */
.sidebar {
  width: 50px;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  position: relative; 
}

/* Letras da sidebar */
.sidebar-initial {
  background-color: #ffb383;
  width: 30px;
  height: 30px;
  border-radius: 12px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.sidebar-initial.active {
  background-color: #ff9e63;
}

/* ---- Conteúdo principal ---- */
.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* Botões */
.menu-button {
  background-color: #ffa86d;
  border: none;
  padding: 18px 60px;
  border-radius: 20px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
}

.menu-button:hover {
  transform: scale(1.05);
}
